.tabs .indicator {
    background-color: #607D8B;
}
.picker__date-display {
    background-color: #607D8B
}
.picker__day--highlighted {
    background-color: #607D8B;
}
.picker__today, .picker__close {
    color: #607D8B;
}
