<% include nav.ejs %>

    <div class="row">
        <h2>Current Account</h2>
        <div class="switch">
                <label>
                  Deactivate
                  <input type="checkbox">
                  <span class="lever"></span>
                    Activate
                </label>
              </div>
        <div class="input-field col s6">
            <input placeholder="Enter amount" id="first_name" type="text" class="validate">
            <label for="first_name">Add Money</label>
          </div>
          
    </div>
    <div class="input-field col s6">
        <a class="waves-effect waves-light btn"><i class="material-icons right">library_add</i>Add</a>
    <div class="input-field col s6">    
<% include foot.ejs %>