
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  
 <footer class="page-footer blue-grey">
        <div class="container">
          <div class="row">
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2014 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#" onclick="signout()">LOGOUT</a>
          </div>
        </div>
      </footer>


</body>
<script type="text/javascript">
    $(".button-collapse").sideNav();
    $('.modal').modal();

</script>
<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-firestore.js"></script>

<script src="js/dash.js"></script>
<script>
    var user = firebase.auth().currentUser;
  </script>

</html>
  