<!DOCTYPE html>
<html>
<head>
	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<title>SafeSide</title>
	<style type="text/css">
		.background{
			background-color: pink;
		}
	.page-footer{
		position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
	}
	.button-collapse{
		color: black;
	}
	</style>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      
</head>
<body>
  <nav class="blue-grey">
      <a class="white-text button-collapse show-on-large" href ="#" data-activates="slide-out"><i class="material-icons">menu</i></a>
    
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
    </ul>
    <div class="nav-wrapper">
        <ul class="right">
            
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons">message</i></a></li>
            
            <li>&nbsp;&nbsp;&nbsp;</li>
            <li id="username-nav"></li>
            <li>&nbsp;&nbsp;&nbsp;</li>
            <li id="balance-nav"></li>
            <li>&nbsp;&nbsp;&nbsp;</li>
        </ul>
        <div id="load" class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
    
    <ul id="slide-out" class="side-nav">
      <div class="background"></div>
        <li><div class="user-view">
             <a href="#!user"><img class="circle" src=""></a>
            <a  href="#!name"><span id="name-nav" class="black-text name"></span></a>
            <a  href="#!email"><span id="email-nav" class="black-text email">vickysharma1711@gmail.com</span></a>
        </div>
        </li>
      <li><a class="waves-effect" href="#!"><i class="material-icons">account_balance</i>Account 1 Balance</a></li>
      <li><a class ="waves-effect" href="#!"><i class="material-icons">mood</i>Second Link</a></li>
        <li><a class='dropdown-button' href='#' data-activates='dropdown1'>Account Management<i class="material-icons right">arrow_drop_down</i></a></li>
        <ul id='dropdown1' class='dropdown-content'>
          <li><a  href="#!"><i class = "material-icons">monetization_on</i>Savings</a></li>
          <li><a  href="#!"><i class = "material-icons">home</i>Home Loans</a></li>
          <li><a  href="#!"><i class = "material-icons">attach_money</i>Investments</a></li>
          <li><a  href="#!"><i class="material-icons">business_center</i>Insurance</a></li>
          <li><a  href="#!"><i class="material-icons">credit_card</i>Credit Card</a></li>
      </ul>
    </ul> 
    
    
  </nav>
  <div class="container">