<% include nav.ejs %>

    <div class="row">
        <form method="POST" action="/savingsbalance">
            <h2>Savings Account</h2>

            <div class="input-field col s6">
                <input placeholder="Enter amount" id="first_name" name="amount" type="number" class="validate" min="0">
                <label for="first_name">Add Money</label>
            </div>
            
        
            <div class="input-field col s6">
               <button type="submit" ><a class="waves-effect waves-light btn" type="submit"><i class="material-icons right">library_add</i>Add</a></button>
            </div>
        </form>
    </div> 
<% include foot.ejs %>