<% include nav.ejs %>

<div class="row">
    <h2>
        Account Settings
    </h2>
    <p id="email-verify"></p>
    <ul class="collection">
        <li class="collection-item">
            <a  class="modal-trigger" href="#modal1" >
            Change Name
            </a>
        </li>
        <li class="collection-item">
            <a  onclick="changePassword()" >
            Change Password
            </a>
        </li>
        <li class="collection-item">
            <a class="modal-trigger" href="#modal2">
                Delete Account
            </a> 
        </li> 
        <li class="collection-item">
            <div class="file-field input-field">
                <div class="btn">
                    <span>ID Proof</span>
                    <input type="file" >
                </div>
                <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload Document. Would be verified later!">
                </div>
            </div>
        </li> 
        <li class="collection-item">
            <div class="file-field input-field">
                <div class="btn">
                    <span>Address Proof</span>
                    <input type="file" >
                </div>
                <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload Document. Would be verified later!">
                </div>
            </div>
        </li> 
    </ul>
    <button class="btn waves-effect waves-light" type="submit" name="action">Save
        <i class="material-icons right">save</i>
    </button>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <form action="" >
        <div class="modal-content">
          <h4>Change Name</h4>
          <br>
          
            <div class="input-field col s12">
                <input id="name" type="text" class="validate" required>
                <label for="password">New Name</label>
            </div>
          
        </div>
        <div class="modal-footer">
          <a href="#!" type="submit" onclick="changeName()" class="modal-action modal-close waves-effect waves-green btn-flat">Change</a>
        </div>
    </form>
</div>

<div id="modal2" class="modal">
        <form action="" >
            <div class="modal-content">
              <h5>Are you sure you wanna delete this account?</h5>
              <br>
            </div>
            <div class="modal-footer">
              <a href="#!" type="submit" style="color:red" onclick="deleteUser()" class="modal-action modal-close waves-effect waves-green btn-flat">delete</a>
            </div>
        </form>
</div>
<a class="btn-floating btn-large waves-effect waves-light red right tooltipped modal-trigger" data-position="left" data-delay="50" data-tooltip="Register a complaint" href="#complaint">
        <i class="material-icons">add</i></a>
<% include foot.ejs %>