<% include nav.ejs %>

<div class="container" >
    <ul id="tabs-swipe-demo" class="tabs">
    <li class="tab col s3"><a href="#test-swipe-1">Test 1</a></li>
    <li class="tab col s3"><a class="active" href="#test-swipe-2">Test 2</a></li>
  </ul>
  <div id="test-swipe-1" class="col s12 blue" style="width:100%;">Test 1</div>
  <div id="test-swipe-2" class="col s12 red" style="width:100%;">Test 2</div>
  </div>

<% include foot.ejs %>